body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #000000;
}
header {
background-color: hsl(180, 100%, 9%);
color: #fff;
padding: 20px;
text-align: center;
}
nav {
background-color: #444;
color: #fff;
padding: 10px;
text-align: center;
}
nav a {
color: #fff;
text-decoration: none;
margin: 0 10px;
}
article {
padding: 20px;
margin: 20px;
background-color: #fff;
}
h2 {
color: #333;
font-family: 'Times New Roman', Times, serif;
}

p {
color: #666;
}

h1{
    color: #cc8b11;
    font-family: 'Times New Roman', Times, serif;
}
